.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
.Rprofile
.Renviron
analysis/figures/*
!analysis/figures/.gitignore
analysis/paper/*
!analysis/paper/*.Rmd
!analysis/paper/*.html
!analysis/paper/references.bib
!analysis/paper/*.csv
!analysis/data/geo_downloads/.gitignore
analysis/data/*.rds
!analysis/data/hto_lookup.csv
!analysis/data/hto_lookup_old.csv
!analysis/data/starsolo_scte/
!analysis/data/starsolo_scte/.gitignore
.vscode
